<h1>TinyApp</h1>
<% if (user) {%>
  <form method="POST" action="/logout">
    <label><%= user.email %></label>
    <input type="Submit" value="logout">
  </form>
<% } else {%>
  <form action="/login" method="POST">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="username">
    <input type="Submit" value="login">
  </form>
  <a class="button" href="/register">Register</a>
<% } %>
