<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TinyApp - Register</title>
  <link rel="stylesheet" href="/bootstrap.min.css">
</head>

<body>

  <header>
    <h1>Welcome to TinyApp!</h1>
  </header>

  <form method="POST" action="/register">
    <label for="email">E-mail</label>
    <input name="email" type="email" placeholder="email">
    <label for="password">Password</label>
    <input name="password" type="password" placeholder="password">
    <input type="submit" value="register">
  </form>

</body>
</html>
