<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>TinyApp - New URL</title>
</head>

<body style="font-size:20px; padding:50px;">
  <% include ./partials/_header %>
  <form action="/urls" method="POST" style="margin:150px;">
    <label for="longUrl">Enter a URL:</label>
    <input id="longUrl" type="text" name="longUrl" placeholder="http://" style="width: 300px">
    <input type="submit" value="Submit">
  </form>
</body>

</html>
