<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TinyApp - New URL</title>
  <link rel="stylesheet" href="/bootstrap.min.css">
</head>

<body>

  <% include ./partials/_header %>

  <form action="/urls" method="POST">
      <label for="longUrl">Enter a URL:</label>
      <input class="form-control" id="longUrl" type="text" name="longUrl" placeholder="http://">
      <button class="btn btn-info" type="submit">Submit new url</button>
  </form>

</body>

</html>
